@font-face {
  font-family: "Union";
  src: url("./assets/union.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Union", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.hide-cursor,
  &.hide-cursor * {
    cursor: none !important;
  }
}

.countdown {
  height: 100%;
  width: 100%;
  display: table;

  &__display {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: default;
    user-select: none;
  }

  &__unit {
    &--hours,
    &--minutes,
    &--seconds {
      display: inline-block;
      min-width: 1.1em;
    }
  }

  &__separator {
    &--blink {
      margin-right: 0.075em;
      animation: blinker 1s infinite cubic-bezier(1, 0, 0, 1);
    }
  }
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
